.pedido h1 {
    text-align: center;
}

.container {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        width: 100%;
        height: auto; 
        gap: 10px; 
    }

    .container button {
        width: 80px;
        height: 35px;
        margin: 15px;
    }
}

/* Estilos para telas ainda menores, como smartphones */
@media (max-width: 480px) {
    .container {
        gap: 5px;
    }

    .container button {
        width: 100px;
        height: 40px;
        margin: 10px;
    }
}

.container button:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 167);
}

/* Estilo base para o texto animado */
.animated-text1 {
    position: absolute;
    top: 50%;
    left: -170%;
    font-size: 5rem;
    color: red;
    white-space: nowrap;

    animation: slide-in 10s linear infinite;
    animation-delay: 6s;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes slide-in {
    0% {
        left: -170%;
    }
    100% {
        left: 170%;
    }
}

.hidden {
    display: none;
}

