.pedido h1 {
    text-align: center;
}

.container {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Coloca os elementos em uma coluna */
        width: 100%; /* Usa a largura total da tela */
        height: auto; /* Altura se adapta ao conteúdo */
        gap: 10px; /* Reduz o espaço entre os elementos */
    }

    .container button {
        width: 80px; /* Aumenta o tamanho dos botões em telas menores */
        height: 35px; /* Aumenta a altura dos botões para melhorar a usabilidade */
        margin: 15px; /* Reduz a margem ao redor dos botões */
    }
}

/* Estilos para telas ainda menores, como smartphones */
@media (max-width: 480px) {
    .container {
        gap: 5px; /* Reduz ainda mais o espaço entre os elementos */
    }

    .container button {
        width: 100px; /* Ajusta o tamanho dos botões para telas pequenas */
        height: 40px; /* Melhora a altura para facilitar o toque */
        margin: 10px; /* Reduz as margens */
    }
}

.container button:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 167);
}

/* Estilo base para o texto animado */
.animated-text1 {
    position: absolute;
    top: 50%;
    left: -130%;
    font-size: 5rem;
    color: red;
    white-space: nowrap;

    animation: slide-in 10s linear infinite;
    animation-delay: 5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Keyframes para animar o texto da esquerda para a direita */
@keyframes slide-in {
    0% {
        left: -130%;
    }
    100% {
        left: 130%;
    }
}

/* Oculta o texto inicialmente */
.hidden {
    display: none;
}

